<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error Page</title>
  </head>
  <body>
    <nav>
      <h1>About</h1>
      <div class="site-title">
        <a href="/">Blogs</a>
        <a href="/about">About</a>
        <a href="/blog/create">Create</a>
      </div>
    </nav>
    <div class="404">
      <h1>404 Page Error</h1>
    </div>
  </body>
</html>
