<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="flex flex-col pl-10 mt-10">
      <h2 class="text-2xl uppercase text-rose-600 font-bold mb-5">About Us</h2>
      <p class="text-lg text-slate-800 mb-3 w-[70%]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        pariatur voluptatibus velit atque voluptate soluta qui corporis porro
        neque. Aliquam mollitia veritatis ratione ut sequi reprehenderit facere
        illum amet sapiente.
      </p>
      <p class="text-lg text-slate-800 mb-3 w-[70%]">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab natus neque
        eius rerum fugiat est repellendus minima blanditiis ipsa laudantium
        quibusdam, illum delectus iure tempore iste, debitis error! Reiciendis,
        harum?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
